

.linkActive {
    background: lightskyblue;
    border-bottom: 2px black solid ;
}

.img {
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px;
}
